{sys, [
    {lib_dirs, ["../apps"]},
    {rel, "dummy", "0.1", [
        kernel,
        stdlib,
        sasl,
        dummy
    ]},
    {rel, "start_clean", "", [kernel, stdlib]},
    {boot_rel, "dummy"},
    {profile, embedded},
    {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)"]},
    {excl_archive_filters, [".*"]},

    {app, hipe, [{incl_cond, exclude}]},

    {app, dummy, [{incl_cond, include}]}
]}.

{overlay, [
          {mkdir, "log/sasl"},
          {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
          {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
          {copy, "files/dummy", "bin/dummy"},
          {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
          {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
