*.beam
*.gz
*.tpl
*.o
*.lo
*.la
*.m4
*.in
*~
*.orig
*.rej
erl_crash.dump
configure
autom4te.cache
build-aux
*.diff

# ./configure

Makefile
bin/Makefile
config.h
config.log
config.status
etc/Makefile
etc/couchdb/Makefile
etc/default/Makefile
etc/init/Makefile
etc/init/couchdb
etc/launchd/Makefile
etc/logrotate.d/Makefile
libtool
share/Makefile
src/couchdb/.deps/*
src/couchdb/Makefile
src/couchdb/priv/Makefile
src/mochiweb/Makefile
stamp-h1
test/.deps/
test/Makefile
test/javascript/run_js_tests.sh
var/Makefile

# for make

bin/couchdb
bin/couchdb.1
bin/couchjs
bin/couchjs.1
bin/couch-config
bin/couch-config_dev
etc/couchdb/default.ini
etc/launchd/org.apache.couchdb.plist
etc/logrotate.d/couchdb
src/couch_mrview/ebin/
src/couchdb/.libs/*
src/couchdb/couch.app
src/couchdb/couchjs
src/couchdb/edoc-info
src/couchdb/erlang.png
src/couchdb/stylesheet.css
src/couchdb/priv/.deps/
src/couchdb/priv/.libs/
src/couchdb/priv/couch_icu_driver.la
src/couchdb/priv/couchjs
src/couchdb/priv/couchspawnkillable
src/couchdb/priv/stat_descriptions.cfg
src/erlang-oauth/oauth.app
src/ibrowse/ibrowse.app
src/ejson/ejson.app
src/ejson/.deps/
src/ejson/.libs/
src/ejson/priv
src/mochiweb/mochiweb.app
src/snappy/.deps/
src/snappy/.libs/
src/snappy/priv
src/snappy/snappy.app
src/snappy/google-snappy/snappy-stubs-public.h
src/snappy/google-snappy/stamp-h2
src/snappy/google-snappy/.deps/
test/local.ini
test/etap/.deps/
test/etap/run
test/etap/test_cfg_register
test/etap/test_util.erl
test/javascript/run
share/server/main.js
share/server/main-coffee.js

# for make dev

bin/.deps/
bin/couchjs_dev
bin/couchpw
etc/couchdb/default_dev.ini
etc/couchdb/local_dev.ini
utils/run
tmp
src/couchdb/priv/stat_descriptions.cfg
src/erlang-oauth/oauth.app
src/ibrowse/ibrowse.app
src/mochiweb/mochiweb.app
test/etap/run

# for make check

test/etap/temp.*
test/bench/run
couchdb.stderr
couchdb.stdout

# for make cover

cover/*
INSTALL
