*.o
*.asc
*.sha256
*.sha512
*.snap
*.so
*.pyc
*.swp
*.pdb
*~
.venv
.DS_Store
.vscode
.rebar/
.eunit/
cover/
core
debian/
log
apache-couchdb-*/
bin/
config.erl
*.tar.gz
*.tar.bz2
dev/*.beam
dev/devnode.*
dev/lib/
dev/logs/
dev/erlserver.pem
dev/couch_ssl_dist.conf
ebin/
erl_crash.dump
erln8.config
install.mk
rel/*.config
rel/couchdb
rel/dev*
rel/tmpdata
share/server/main-coffee.js
share/server/main.js
share/www
apps/b64url/
apps/bear/
apps/certifi/
apps/config/
apps/couch/priv/couch_js/**/config.h
apps/couch/priv/couchjs
apps/couch/priv/couchspawnkillable
apps/couch/priv/couch_ejson_compare/couch_ejson_compare.d
apps/couch/priv/couch_js/**/*.d
apps/couch/priv/icu_driver/couch_icu_driver.d
apps/mango/src/mango_cursor_text.nocompile
apps/docs/
apps/ets_lru/
apps/excoveralls/
apps/fauxton/
apps/folsom/
apps/hackney/
apps/hyper/
apps/ibrowse/
apps/idna/
apps/jiffy/
apps/khash/
apps/meck/
apps/metrics/
apps/mimerl/
apps/mochiweb/
apps/oauth/
apps/parse_trans/
apps/proper/
apps/rebar/
apps/recon/
apps/snappy/
apps/ssl_verify_fun/
apps/triq/
apps/unicode_util_compat/
apps/file_system/
apps/rebar3/
apps/erlfmt/
tmp/

apps/couch/*.o
apps/couch/*.so
apps/couch/ebin/
apps/couch/priv/couch_js/config.h
apps/couch/priv/couchjs
apps/couch/priv/couchspawnkillable
apps/couch/priv/*.exp
apps/couch/priv/*.lib
apps/couch/priv/*.dll
apps/couch/priv/*.exe
apps/couch/vc120.pdb
apps/couch_epi/ebin
apps/couch_epi/erl_crash.dump
apps/couch_event/deps/
apps/couch_event/ebin/
apps/couch_index/ebin
apps/couch_log/ebin
apps/couch_peruser/doc
apps/couch_peruser/ebin
apps/couch_peruser/deps
apps/couch_peruser/couchperuser-*
apps/couch_peruser/erl_crash.dump
apps/couch_peruser/TEST-*.xml
apps/couch_peruser/*.beam
apps/couch_replicator/*.beam
apps/couch_replicator/ebin/replicator.app
apps/couch_replicator/.DS_Store
apps/couch_stats/*~
apps/couch_stats/*.beam
apps/couch_stats/deps
apps/couch_stats/ebin
apps/couch_stats/doc
apps/couch_stats/.project
apps/couch_tests/*.o
apps/couch_tests/*.so
apps/couch_tests/ebin/
apps/global_changes/ebin/
apps/mango/ebin/
apps/mango/test/*.pyc
apps/mango/nosetests.xml
apps/mango/venv/
apps/jwtf/.rebar3/
test/javascript/junit.xml

/_build/
/apps/bunt
/apps/credo/
/apps/httpotion/
/apps/jason/
/apps/junit_formatter/

.idea
_build
apps/bbmustache/
apps/cf/
apps/cth_readable/
apps/erlware_commons/
apps/eunit_formatters/
apps/getopt/
apps/providers/
apps/relx/
*.log
rebar3.crashdump
*.lock
*.orig
*.iml
