Benoit Chesneau <benoitc@apache.org> <bchesneau@gmail.com>
Benoit Chesneau <benoitc@apache.org> benoitc <benoitc@apache.org>

Jason Smith <jhs@apache.org> Jason Smith (air) <jhs@iriscouch.com>
Jason Smith <jhs@apache.org> Jason Smith (air) <jhs@apache.org>

Filipe David Borba Manana <fdmanana@apache.org>

Randall Leeds <randall@apache.org> <randall.leeds@gmail.com>

Paul Joseph Davis <davisp@apache.org> Paul J. Davis <davisp@apache.org>

Bob Dionne <bitdiddle@apache.org> bitdiddle <bitdiddle@apache.org>
