before_install:
   - sudo apt-get update
   - sudo apt-get install libicu-dev libmozjs-dev
before_script: ./bootstrap && ./configure
script: make distcheck
language: erlang
otp_release:
   - R15B02
   - R15B01
   - R15B
   - R14B04
   - R14B03
