{ignore, [
    "src[\/]bear[\/]*",
    "src[\/]b64url[\/]*",
    "src[\/]docs[\/]*",
    "src[\/]*[\/].eunit[\/]*",
    "src[\/]fauxton[\/]*",
    "src[\/]rebar[\/]*",
    "src[\/]emilio[\/]*",
    "src[\/]folsom[\/]*",
    "src[\/]mochiweb[\/]*",
    "src[\/]snappy[\/]*",
    "src[\/]ssl_verify_fun[\/]*",
    "src[\/]ibrowse[\/]*",
    "src[\/]ioq[\/]*",
    "src[\/]jiffy[\/]*",
    "src[\/]meck[\/]*",
    "src[\/]proper[\/]*",
    "src[\/]recon[\/]*",
    "src[\/]hyper[\/]*",
    "src[\/]triq[\/]*"
]}.
