% Copyright 2010 Cloudant
% 
% Licensed under the Apache License, Version 2.0 (the "License"); you may not
% use this file except in compliance with the License. You may obtain a copy of
% the License at
%
%   http://www.apache.org/licenses/LICENSE-2.0
%
% Unless required by applicable law or agreed to in writing, software
% distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
% WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
% License for the specific language governing permissions and limitations under
% the License.

{deps, [
    {oauth, ".*", {git, "git://github.com/cloudant/erlang-oauth.git", {tag,
        "CouchDB-1.0.1-rebar"}}},
    {ibrowse, ".*", {git, "git://github.com/cloudant/ibrowse.git", {branch,
        "couch"}}},
    {mochiweb, ".*", {git, "git://github.com/cloudant/mochiweb.git", {tag,
        "CouchDB-1.0.1-rebar"}}},
    {rexi, ".*", {git, "git://github.com/cloudant/rexi.git", "master"}},
    {fabric, ".*", {git, "git://github.com/cloudant/fabric.git", "master"}},
    {mem3, ".*", {git, "git://github.com/cloudant/mem3.git", "master"}},
    {chttpd, ".*", {git, "git://github.com/cloudant/chttpd.git", "master"}}
]}.
% needed for a clean transition to the deps model
{clean_files, [
    "apps/oauth/ebin",
    "apps/ibrowse/ebin",
    "apps/mochiweb/ebin",
    "apps/rexi/ebin",
    "apps/fabric/ebin",
    "apps/mem3/ebin",
    "apps/chttpd/ebin",
    "apps/etap/ebin"
]}.
{sub_dirs, [
    "apps/couch",
    "rel"
]}.
{cover_enabled, true}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{erl_opts, [debug_info]}.
{lib_dirs, ["apps"]}.
