.rebar3
_*
.eunit
*.o
*.d
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
*~
*.vim
tags
priv/
/deps/
/doc/
/.fetch
erl_crash.dump
*.ez
*.tar

