{erl_opts, [
  deterministic
 ]}.

{deps, []}.

{profiles, [
  {test, [
    {erl_opts, []},
    {deps, [
      {base16, "2.0.1"},
      {proper, "1.4.0"}
     ]},
    {plugins, [
       {rebar3_codecov, "0.3.0"}
     ]},
    {port_env,
     [
      {"CFLAGS", "$CFLAGS -std=c99 -O3 -g -Wall -Wextra -fPIC --coverage"},
      {"LDFLAGS", "$LDFLAGS --coverage"},
      {"LDLIBS", "$LDLIBS -lcrypto"},
      {"DRV_LINK_TEMPLATE", "$DRV_LINK_TEMPLATE $LDLIBS"}
     ]}
   ]}
 ]
}.

{plugins, [pc, rebar3_hex]}.

{artifacts, ["priv/fast_pbkdf2.so"]}.

{port_specs,
 [
    {
        % Any arch
        ".*",
        % Create library
        "priv/fast_pbkdf2.so",
        % From files
        ["c_src/*.c"],
        % Using options
        [ {env, [{"CFLAGS", "$CFLAGS -std=c99 -O3 -g -Wall -Wextra -fPIC"},
                 {"LDLIBS", "$LDLIBS -lcrypto"},
                 {"DRV_LINK_TEMPLATE", "$DRV_LINK_TEMPLATE $LDLIBS"}]}]
     }
 ]}.

{provider_hooks,
 [
    {post,
     [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
     ]}
 ]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
