{erl_opts, [
  deterministic
]}.

{deps, []}.

{profiles, [
  {test, [
    {erl_opts, []},
    {deps, [
      {base16, "2.0.1"},
      {proper, "1.4.0"}
    ]},
    {plugins, [
      {rebar3_codecov, "0.6.0"}]},
      {port_env,
        [
          {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
               "CFLAGS", "$CFLAGS -std=c99 -O0 -g -Wall -Wextra -Wundef -Werror=undef -fPIC -I/opt/homebrew/include -I/usr/local/include --coverage"},
          {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
               "LDLIBS", "$LDLIBS -lcrypto -L/opt/homebrew/lib/ -L/usr/local/lib --coverage"}
        ]
      }
  ]}
]
}.

{plugins, [pc]}.

{port_env,
  [
    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
         "CFLAGS", "$CFLAGS -std=c99 -O3 -g -Wall -Wextra -Wundef -Werror=undef -fPIC -I/opt/homebrew/include -I/usr/local/include"},
    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
         "LDLIBS", "$LDLIBS -lcrypto -L/opt/homebrew/lib/ -L/usr/local/lib"},
    {"win32", "CFLAGS", "$CFLAGS /I${OPENSSL_INSTALL_DIR}/include /O2 /DNDEBUG /Wall"},
    {"win32", "LDLIBS", "$LDLIBS /LIBPATH:${OPENSSL_INSTALL_DIR}/lib libcrypto.lib"},
    {"DRV_LINK_TEMPLATE", "$DRV_LINK_TEMPLATE $LDLIBS"}
  ]
}.

{port_specs,
  [
    {
      % Any arch
      ".*",
      % Create library
      "priv/fast_pbkdf2.so",
      % From files
      ["c_src/*.c"]
    }
  ]}.

{provider_hooks,
  [
    {post,
      [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
      ]}
  ]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{project_plugins, [
    rebar3_hex,
    rebar3_ex_doc
]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
    {source_url, <<"https://github.com/esl/fast_pbkdf2">>}
]}.
