 <h2> Couchdb Logs </h2>
  <table class="table table-bordered" >
  <thead>
    <tr>
      <th class="Date">Date</th>
      <th class="Log Level">Log Value</th>
      <th class="Pid">Pid</th>
      <th class="Args">Url</th>
    </tr>
  </thead>

  <tbody>
    <% logs.each(function (log) { %>
    <tr class="<%= log.logLevel() %>">
      <td>
        <!-- TODO: better format the date -->
        <%= log.date() %>
      </td>
      <td>
        <%= log.logLevel() %>
      </td>
      <td>
        <%= log.pid() %>
      </td>
      <td>
        <!-- TODO: split the line, maybe put method in it's own column -->
        <%= log.args() %>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
