<div id="log-sidebar">
  <form class="form-inline" id="log-filter-form">
    <fieldset>
      <legend>Log Filter</legend>
      <input type="text" name="filter" placeholder="Type a filter to sort the logs by">
      <!-- TODO: filter by method -->
      <!-- TODO: correct removed filter behaviour -->
      <button type="submit" class="btn">Filter</button>
      <span class="help-block"> <h6> Eg. debug or <1.4.1> or any regex </h6> </span>
    </fieldset>
  </form>
  <ul id="filter-list"></ul>
</div>
