%% -------------------------------------------------------------------
%%
%% riaknostic - automated diagnostic tools for Riak
%%
%% Copyright (c) 2011 Basho Technologies, Inc.  All Rights Reserved.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%% -------------------------------------------------------------------

{escript_shebang, "#!/usr/bin/env escript\n"}.
{escript_comment, "%% -nocookie\n"}.

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{escript_incl_apps, [lager, getopt, goldrush]}.

{deps, [
        {lager, "2.0.3", {git, "git://github.com/basho/lager.git", {tag, "2.0.3"}}},
        {getopt, ".*", {git, "git://github.com/jcomellas/getopt.git", {tag, "v0.4.3"}}},
        {meck, "0.8.1", {git, "git://github.com/basho/meck.git", {tag, "0.8.1"}}}
        ]}.

{edoc_opts, [{stylesheet_file, "priv/edoc.css"}]}.
