<div class="view show">
  <div>
    <div class="btn-toolbar span6">
      <button type="button" class="btn all" data-toggle="button">✓ All</button>
      <a class="btn btn-small disabled delete"><i class="icon-trash"></i></a>
    </div>
    <div class="btn-toolbar pull-right">
      <a href="#new-view-index" class="btn btn-small toggle-edit disabled"><i class="icon-wrench"></i> Edit index</a>
      <a href="#params" class="btn btn-small toggle-params"><i class="icon-plus"></i> API preview</a>
    </div>
  </div>

  <table class="all-docs table table-striped table-condensed">
    <tbody></tbody>
  </table>
</div>
