<ul class="nav nav-tabs">
  <li class="active"><a href="#">Docs</a></li>
  <li><a href="#">Permissions</a></li>
  <li><a href="#">Stats</a></li>
  <div id="search" class="navbar-search span4 nav pull-right input-prepend" style="height:20px;"></div>
  <!-- TODO: put this styling into less -->
  <ul class="nav pull-right" style="margin:5px 10px 0px 10px;">
    <li>
      <div class="btn-group">
        <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon icon-cog"></i> Database actions <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a class=""><i class="icon-repeat"></i> Replicate database</a></li>
          <li><a class=""><i class="icon-trash"></i> Delete database</a></li>
        </ul>
      </div>
    </li>
  </ul>
</ul>