<div id="define-view" class="ddoc-alert well">
  <div class="errors-container">
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Warning!</strong> Preview executes the Map/Reduce functions in your browser, and may behave differently from CouchDB.
    </div>
  </div>
  <form class="form-horizontal">
    <h3>Define your index</h3>
    <div class="control-group">
      <label class="control-label" for="ddoc">Design document <a target="_couch_docs" href="http://docs.couchdb.org/en/latest/ddocs/#design-docs"><i class="icon-question-sign"></i></a></label>
      <div class="controls">
        <select id="ddoc">
          <optgroup label="Select a document">
            <option>New document</option>
            <% ddocs.each(function(ddoc) { %>
              <option><%= ddoc.id %></option>
            <% }); %>
            <option selected="selected">_design/views101</option>
          </optgroup>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="index-name">Index name <a target="_couch_docs" href="http://docs.couchdb.org/en/latest/ddocs/#view-functions"><i class="icon-question-sign"></i></a></label>
      <div class="controls">
        <input type="text" id="index-name" value="" placeholder="Index name" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="map-function">Map function <a target="_couch_docs" href="http://docs.couchdb.org/en/latest/ddocs/#map-functions"><i class="icon-question-sign"></i></a></label>
      <div class="controls">
        <textarea class="js-editor" id="map-function"></textarea>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="reduce-function-selector">Reduce function <a target="_couch_docs" href="http://docs.couchdb.org/en/latest/ddocs/#reduce-and-rereduce-functions"><i class="icon-question-sign"></i></a></label>
      <div class="controls">
        <select id="reduce-function-selector">
          <option value="" selected="selected">None</option>
          <option value="_sum">_sum</option>
          <option value="_count">_count</option>
          <option value="_stats">_stats</option>
          <option value="CUSTOM">Custom reduce</option>
        </select>
        <span class="help-block">Reduce functions are optional.</span>
      </div>
    </div>
    <div class="control-group reduce-function">
      <label class="control-label" for="reduce-function">Custom Reduce</label>
      <div class="controls">
        <textarea class="js-editor" id="reduce-function"></textarea>
      </div>
    </div>
    <div class="control-group">
      <hr />
      <div class="controls">
        <button class="btn btn-small btn-inverse cancel">Cancel</button>
        <button class="btn btn-small btn-info preview">Preview</button>
        <button class="btn btn-primary save">Save</button>
      </div>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
