{plugins, [
    pc
]}.

{project_plugins, [
    erlfmt
]}.

{provider_hooks, [
    {pre, [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
    ]}
]}.

{port_specs, [
    {"priv/b64url.so", ["c_src/*.c"]}
]}.

{port_env, [
    % Development compilation
    % {".*", "CFLAGS", "$CFLAGS -g -Wall -Werror -fPIC"}

    % Production compilation
    {"(linux|solaris|darwin|freebsd)", "CFLAGS", "$CFLAGS -Wall -Werror -DNDEBUG -O3"},
    {"win32", "CFLAGS", "$CFLAGS /O2 /DNDEBUG /Wall"}
]}.

{eunit_opts, [
    debug_info,
    verbose
]}.
