*.o
*.so
ebin/

priv/couch_js/config.h
priv/couchjs
priv/couchspawnkillable
priv/*.exp
priv/*.lib
priv/*.dll
priv/*.exe
vc120.pdb

test/engines/coverage/
test/engines/data/
test/engines/etc/
test/engines/log/

.rebar/
.eunit
