%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% escript_incl_extra is for internal rebar-private use only.
%% Do not use outside rebar. Config interface is not stable.
{escript_incl_extra, [{"priv/templates/*", "."}]}.
{erl_opts, [warnings_as_errors]}.
{xref_checks, []}.
{xref_queries,
 [{"(XC - UC) || (XU - X - B
      - (\"escript\":\"foldl\"/\"3\")
      - (\"eunit_test\":\"function_wrapper\"/\"2\")
      - (\"abnfc\":\"file\"/\"2\")
      - (\"erlydtl\":\"compile\"/\"3\")
      - (\"lfe_comp\":\"file\"/\"2\")
      - (\"neotoma\":\"file\"/\"2\")
      - (\"protobuffs_compile\":\"scan_file\"/\"2\")
      - (\"diameter_codegen\":\"from_dict\"/\"4\")
      - (\"diameter_dict_util\":\"format_error\"/\"1\")
      - (\"diameter_dict_util\":\"parse\"/\"2\"))",
         []}]}.
