{so_name, "couch_icu_driver.so"}.
{port_envs, [
  {"DRV_CFLAGS",  "$DRV_CFLAGS -DPIC -O2 -fno-common"},
  {"DRV_LDFLAGS", "$DRV_LDFLAGS -lm -licuuc -licudata -licui18n -lpthread"},
  {"linux", "DRV_LDFLAGS", "$DRV_LDFLAGS -lcrypt"},
  {"freebsd", "DRV_CFLAGS", "$DRV_CFLAGS -I/usr/local/include"},
  {"freebsd", "DRV_LDFLAGS", "$DRV_LDFLAGS -L/usr/local/lib"}
]}.
