{sys, [
    {lib_dirs, ["../apps"]},
    {rel, "dbcore", "1.2.4", [
        kernel,
        stdlib,
        sasl,
        crypto,
        ssl,
        inets,
        xmerl,
        runtime_tools,
        mochiweb,
        ibrowse,
        oauth,
        couch
    ]},
    {rel, "start_clean", "", [kernel, stdlib]},
    {boot_rel, "dbcore"},
    {profile, embedded},
    {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)"]},
    {excl_archive_filters, [".*"]},
    {app, sasl, [{incl_cond, include}]},
    {app, mochiweb, [{incl_cond, include}]},
    {app, ibrowse, [{incl_cond, include}]},
    {app, oauth, [{incl_cond, include}]},
    {app, couch, [{incl_cond, include}]}
]}.

{overlay, [
    {copy, "overlay/var"}
]}.
