{sys, [
    {lib_dirs, ["../apps"]},
    {rel, "dbcore", "1.2.4", [
        kernel,
        stdlib,
        sasl,
        crypto,
        ssl,
        inets,
        xmerl,
        runtime_tools,
        mochiweb,
        ibrowse,
        oauth,
        couch,
        rexi,
        fabric,
        mem3,
        chttpd
    ]},
    {rel, "start_clean", "", [kernel, stdlib]},
    {boot_rel, "dbcore"},
    {profile, embedded},
    {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)"]},
    {excl_archive_filters, [".*"]},

    % It's sufficient to list 'chttpd' here, as reltool will pull in all
    % dependencies.  But we'll be explicit and list everything actively
    % developed in this repository.
    {app, rexi, [{incl_cond, include}]},
    {app, fabric, [{incl_cond, include}]},
    {app, mem3, [{incl_cond, include}]},
    {app, couch, [{incl_cond, include}]},
    {app, chttpd, [{incl_cond, include}]}
]}.

{overlay_vars, "overlay.config"}.
{overlay, [
    {copy, "overlay/bin"},
    {copy, "overlay/etc"},
    {copy, "overlay/var"},
    {copy, "../couchjs/build/couchjs", "bin/couchjs"},
    {copy, "../couchjs/build/main.js", "share/couchjs/main.js"},
    {template, "overlay/etc/default.ini", "etc/default.ini"}
]}.
