<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Project Fauxton</a>
      <div class="nav-collapse">
        <ul class="nav">
          <% _.each(navLinks, function(link) { %>
            <li><a href="<%= link.href %>"><%= link.title %></a></li>
          <% }); %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
