<ul>
<li>committed_update_seq: <%= database.status.get("committed_update_seq") %></li>
<li>compact_running: <%= database.status.get("compact_running") %></li>
<li>data_size: <%= database.status.get("data_size") %></li>
<li>db_name: <%= database.status.get("db_name") %></li>
<li>disk_format_version: <%= database.status.get("disk_format_version") %></li>
<li>disk_size: <%= database.status.get("disk_size") %></li>
<li>doc_count: <%= database.status.get("doc_count") %></li>
<li>doc_del_count: <%= database.status.get("doc_del_count") %></li>
<li>instance_start_time: <%= database.status.get("instance_start_time") %></li>
<li>purge_seq: <%= database.status.get("purge_seq") %></li>
<li>update_seq: <%= database.status.get("update_seq") %></li>
</ul>
