[
    {kernel, [{error_logger, silent}]},
    {sasl, [{sasl_error_logger, false}]},
    {fabric, [{eunit_run, true}]},
    {erlfdb, [
        {network_options, [
            client_buggify_enable,
            {client_buggify_section_activated_probability, 25},
            {client_buggify_section_fired_probability, 25}
        ]}
    ]}
].

